.App {
  text-align: center;
}

.movie-box{
  border: 10px purple solid;
  background-color: rgb(225, 244, 248);
}

.movie-list{
  margin:20px;
  border: 10px green solid;
}

.movie{
  margin:20px;
  border: 10px orange solid;

}